layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode}#[bg=transparent] {tabs}"
                format_center ""
                format_right  "#[bg=transparent,fg=blue,bold]{session}#[bg=black,fg=white,bold]"
                format_space  "#[bg=transparent]"
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled "true"
                border_char " "
                border_position "bottom"

                hide_frame_for_single_pane "false"

                mode_normal        "#[bg=green,fg=black,bold] NORMAL#[bg=black,fg=green]█"
                mode_locked        "#[bg=red,fg=black,bold] LOCKED #[bg=black,fg=red]█"
                mode_resize        "#[bg=blue,fg=black,bold] RESIZE#[bg=black,fg=blue]█"
                mode_pane          "#[bg=blue,fg=black,bold] PANE#[bg=black,fg=blue]█"
                mode_tab           "#[bg=yellow,fg=black,bold] TAB#[bg=black,fg=yellow]█"
                mode_scroll        "#[bg=blue,fg=black,bold] SCROLL#[bg=black,fg=blue]█"
                mode_enter_search  "#[bg=orange,fg=black,bold] ENT-SEARCH#[bg=black,fg=orange]█"
                mode_search        "#[bg=orange,fg=black,bold] SEARCHARCH#[bg=black,fg=orange]█"
                mode_rename_tab    "#[bg=yellow,fg=black,bold] RENAME-TAB#[bg=black,fg=yellow]█"
                mode_rename_pane   "#[bg=blue,fg=black,bold] RENAME-PANE#[bg=black,fg=blue]█"
                mode_session       "#[bg=blue,fg=black,bold] SESSION#[bg=black,fg=blue]█"
                mode_move          "#[bg=blue,fg=black,bold] MOVE#[bg=black,fg=blue]█"
                mode_prompt        "#[bg=blue,fg=black,bold] PROMPT#[bg=black,fg=blue]█"
                mode_tmux          "#[bg=magenta,fg=black,bold] TMUX#[bg=black,fg=magenta]█"

                // formatting for inactive tabs
                tab_normal              "#[bg=black,fg=cyan]█#[bg=cyan,fg=black,bold]{index} #[bg=black,fg=cyan,bold] {name}{floating_indicator}#[bg=black,fg=black,bold]█"
                tab_normal_fullscreen   "#[bg=black,fg=cyan]█#[bg=cyan,fg=black,bold]{index} #[bg=black,fg=cyan,bold] {name}{fullscreen_indicator}#[bg=black,fg=black,bold]█"
                tab_normal_sync         "#[bg=black,fg=cyan]█#[bg=$cyan,fg=black,bold]{index} #[bg=black,fg=cyan,bold] {name}{sync_indicator}#[bg=black,fg=black,bold]█"

                // formatting for the current active tab
                tab_active              "#[bg=black,fg=yellow]█#[bg=yellow,fg=black,bold]{index} #[bg=black,fg=yellow,bold] {name}{floating_indicator}#[bg=black,fg=black,bold]█"
                tab_active_fullscreen   "#[bg=black,fg=yellow]█#[bg=yellow,fg=black,bold]{index} #[bg=black,fg=yellow,bold] {name}{fullscreen_indicator}#[bg=black,fg=black,bold]█"
                tab_active_sync         "#[bg=black,fg=yellow]█#[bg=yellow,fg=black,bold]{index} #[bg=black,fg=yellow,bold] {name}{sync_indicator}#[bg=black,fg=black,bold]█"

                // separator between the tabs
                tab_separator           "#[bg=black] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
            }
        }
        children
    }
}
